
terraform/.terraform/


terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log

terraform/.terraform.lock.hcl


bin/
*.exe
*.out
*.test


vendor/

node_modules/


.vscode/
.idea/
*.swp
*.swo
*.DS_Store


*.log
*.env

