name: Docker Build and Push

on:
  push:
    paths:
      - "app/**"
      - ".github/workflows/docker-build.yml"
  workflow_dispatch:

jobs:
  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      ECR_REPOSITORY: ${{ secrets.DOCKER_REPO }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker Image
        run: |
          echo "Building Docker image using ./app as context..."
          docker build -t memos-app:latest ./app

      - name: Tag and Push Docker Image
        run: |
          REGISTRY=${{ steps.login-ecr.outputs.registry }}
          IMAGE_URI=${REGISTRY}/${{ env.ECR_REPOSITORY }}

          docker tag memos-app:latest "${IMAGE_URI}:latest"
          docker push "${IMAGE_URI}:latest"

          SHA_TAG=_

