name: Docker Build and Push

on:
  push:
    paths:
      - "app/**"
      - ".github/workflows/docker-build.yml"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      ECR_REPOSITORY: ${{ secrets.DOCKER_REPO }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Debug: Show registry and repository
        run: |
          echo "REGISTRY='${{ steps.login-ecr.outputs.registry }}'"
          echo "REPOSITORY='${{ env.ECR_REPOSITORY }}'"

      - name: Build, Tag, and Push Docker Image
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: ${{ env.ECR_REPOSITORY }}
        run: |
          IMAGE_URI="${REGISTRY}/${REPOSITORY}:latest"
          echo "➡️ Building and pushing image to ${IMAGE_URI}"
          docker build -t "${IMAGE_URI}" -f ./app/Dockerfile ./app
          docker push "${IMAGE_URI}"

