name: Terraform Plan

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  plan:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    env:
      TF_VAR_domain_name: ${{ secrets.DOMAIN_NAME }}
      TF_VAR_memos_admin_username: ${{ secrets.MEMOS_ADMIN_USERNAME }}
      TF_VAR_memos_admin_password: ${{ secrets.MEMOS_ADMIN_PASSWORD }}
      TF_VAR_route53_zone_name: ${{ secrets.ROUTE53_ZONE_NAME }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform -chdir=terraform init -upgrade

      - name: Terraform Plan
        run: terraform -chdir=terraform plan

